@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<html>
<body>

    <header>
        <h1>Farm Max App</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/HomePage">Home</a></li>
            <li><a href="/Results">Climate Data</a></li>
        </ul>
    </nav>

    <main>
        <h2>Explore Climate Trends</h2>
        <p>Welcome to the Farm Max homepage! Explore climate data and more.</p>
        <h2>Stay Informed</h2>
        <p>Get the latest updates on weather forecasts and environmental news. Help yourself farm to the max!</p>
        <h2>Take Action</h2>
        <p>Learn how you can contribute to protecting the environment while farming for the future.</p>
    </main>

    <footer>
        <p>&copy; 2024 Farm Max</p>
    </footer>

</body>
</html>
